{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{ post.title }}{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container my-2">
        <h5 class="py-3"><a href="{{ path('index') }}"><i class="fa-solid fa-arrow-left-long"></i> Regresar</a></h5>
        <!--    ocultar en sm-->
        <div class="d-none  d-md-block bg-white p-3">
            <div class="text-left mx-3">
                <h1> {{ post.title }}
                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                        |
                        <button class="add_favorite"
                                style="background-color: transparent; border: 1px solid transparent">
                                                    <span style="color: orange"><i class="fa-solid fa-star"
                                                                                   id="{{ post.id }}"></i></span>
                        </button>
                    {% endif %}

                    {% if app.user == post.user %}
                        <a href="{{ path('postEdit', {id:post.id}) }}">
                            <small style="color: orange"><i class="fa-solid fa-pen"></i></small>
                        </a>

                        <button id="delete" style="background-color: transparent; border: 1px solid transparent"
                                data-id="{{ post.id }}">
                            <span style=" color: red"><i id="{{ post.id }}" class="fa-solid fa-trash-can"></i></span>
                        </button>
                    {% endif %}
                </h1>
{#                <p> Por <a href="{{path('app_user', {id:post.user.id})}}">{{ post.user.username }}</a> el {{ post.creationdate | date }}</p>#}
                <p>Fecha de Publicaci贸n: {{ post.creationdate | date }}</p>
                <div class="my-2">
                    <span class="alert-success py-1 px-5"> {{ post.type }}</span>
                </div>
            </div>
            <div class="text-center my-4">
                {% if post.file != null and post.type != ' Video' %}
                    <img src="{{ asset('uploads/files/' ~ post.file) }}" alt="Not found" width="80%">
                {% endif %}
                {% if post.file != null and post.type == ' Video' %}
                    {% set format = post.file|split('.') %}
                    <video width="100%" height="340" controls>
                        <source src="{{ asset('uploads/files/' ~ post.file) }}" type="video/{{ format |last }}">
                        <source src="{{ asset('uploads/files/' ~ post.file) }}" type="video/{{ format |last }}">
                        Your browser does not support the video tag.
                    </video>
                {% endif %}
            </div>
            <div class="text-justify">
                {% if post.user.istrusted %}
                    {{ post.description | raw }}
                {% else %}
                    {{ post.description }}
                {% endif %}
            </div>
        </div>
        <!--    ocultar en MD-->
        <div class="d-block d-sm-block d-md-none  my-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="p-2 border bg-white">
                        <div class="text-left">
                            <h1> {{ post.title }}
                                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                                    |
                                    <button class="add_favorite"
                                            style="background-color: transparent; border: 1px solid transparent">
                                                    <span style="color: orange"><i class="fa-solid fa-star"
                                                                                   id="{{ post.id }}"></i></span>
                                    </button>
                                {% endif %}
                                {% if app.user == post.user %}
                                    <a href="{{ path('postEdit', {id:post.id}) }}">
                                        <small style="color: orange"><i class="fa-solid fa-pen"></i></small>
                                    </a>
                                    <button id="delete-sm"
                                            style="background-color: transparent; border: 1px solid transparent"
                                            data-id="{{ post.id }}">
                                        <span style=" color: red"><i class="fa-solid fa-trash-can"></i></span>
                                    </button>
                                {% endif %}
                            </h1>
{#                            <p>Por <a href="{{path('app_user', {id:post.user.id})}}">{{ post.user.username }}</a> el {{ post.creationdate | date }}</p>#}
                            <p>Fecha de publicaci贸n: {{ post.creationdate | date }}</p>
                            <div class="mb-4">
                                <span class="alert-success py-1 px-5"> {{ post.type }}</span>
                            </div>
                        </div>
                        {% if post.file != null and post.type != ' Video' %}
                            <img src="{{ asset('uploads/files/' ~ post.file) }}" alt="Not found"
                                 width="100%">
                        {% endif %}
                        {% if post.file != null and post.type == ' Video' %}
                            {% set format = post.file|split('.') %}
                            <video width="100%" height="340" controls>
                                <source src="{{ asset('uploads/files/' ~ post.file) }}" type="video/{{ format |last }}">
                                <source src="{{ asset('uploads/files/' ~ post.file) }}" type="video/{{ format |last }}">
                                Your browser does not support the video tag.
                            </video>
                        {% endif %}
                        <div class="w-100 text-justify">
                            {% if post.user.istrusted %}
                                {{ post.description | raw }}
                            {% else %}
                                {{ post.description }}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <div class="p-3 bg-white border rounded my-4">
                        {{ form(interaction_form) }}
                    </div>
                {% else %}
                    <div class="alert alert-dark my-4 border">Si deseas comentar, por favor <a href="{{ path('app_register')}}">Registrate</a> o
                        <a href="{{path('app_login')}}">inicia sesi贸n</a>
                    </div>
                {% endif %}
                {% for interaction in interactions %}
                    {% if interaction.comment != null %}
                        <div class="col-md-12 my-2 alert alert-info text-justify">
                            {% set user = interaction.user.username |split('@') %}

                            <div class="d-none d-sm-block ">
                                <div class="my-3"><strong>{{ user[0] }} {% if interaction.user.istrusted %}
                                    <img  src="{{ asset('img/confianza.png') }}" alt="perfil confiable" width="3%">
                                        {% endif %} Coment贸:</strong></div>
                            </div>

                            <div class="d-block d-sm-block d-md-none">
                                <div class="my-3"><strong>{{ user[0] }} {% if interaction.user.istrusted %}
                                    <img  src="{{ asset('img/confianza.png') }}" alt="perfil confiable" width="8%">
                                        {% endif %} Coment贸:</strong></div>
                            </div>


                            <div>
                                {% if interaction.user.istrusted %}
                                    {{ interaction.comment | raw }}
                                {% else %}
                                    {{ interaction.comment }}
                                {% endif %}

                            </div>
                        </div>
                    {% endif %}
                {% else %}
                    <div class="col-md-12 my-2 alert alert-warning border">NO hay comentarios! s茅 el primero</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script src="{{ asset('js/sweetalert2.js') }}"></script>
    <script src="{{ asset('js/index.js') }}"></script>
    <script>
        $('.custom-file-input').on('change', function (event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });
    </script>
{% endblock %}