{% extends 'base.html.twig' %}
{% block head %}
    {{ parent() }}
    <script src="https://www.paypal.com/sdk/js?client-id={{ client_id }}&currency=USD"></script>
{% endblock %}
{% block title %}{{ parent() }} - {{ course.title }}{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container py-3">
        <div class="row bg-white border rounded custom-shadow m-2">
            <div class="col-md-8">
                <h1 class="my-3">{{ course.title }}</h1>
                <img src="{{ asset('uploads/files/'~course.image) }}" alt="{{ course.title }}" width="30%" class="float-left mr-2">
                <div class="text-justify my-3">
                    {{ course.longdescription }}
                </div>
            </div>
            <div class="col-md-4 ">
                <div class=" d-flex h-100 w-100 ">
                    <div class=" justify-content-center align-self-center  ">
                        {% if course.isfree %}
                            <div class="alert alert-success h-50 border">
                                ¡APROVECHA! Este curso es gratuito 🤩
                            </div>
                            <div class="alert alert-warning">
                                <p>Los cursos gratuitos son mi aporte a la comunidad, realmente espero que aprendas mucho y continues apoyando Frikyland.</p>
                                <p>¿Cómo agradecer? Comparte tu conocimiento </p>
                            </div>
                        {% else %}
                            {% if course.id in course_access %}
                                <div class="alert alert-success text-justify">
                                    Gracias por confiar en mi trabajo. Has comprado este curso y espero de todo corazón que
                                    te sea de mucha utilidad.
                                </div>
                            {% else %}
                                <div class="alert alert-info text-center">
                                    <div id="paypal-button-container"></div>
                                    <form id="paypal-form" action="{{ path('paypal_success') }}" method="post">
                                        <input type="hidden" name="details" id="details-input" />
                                        <input type="hidden" name="course-name" id="course-name-input" value="{{ course.title }}">
                                        <input type="hidden" name="course-id" id="course-id-input" value="{{ course.id }}">
                                    </form>
                                </div>
                                <div class="alert alert-warning text-center">
                                    <h3>Precio Final: ${{ course.price }} USD</h3>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-12 my-3">
                <h3 class="my-4">Temario del Curso:</h3>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>Titulo</th>
                        <th>Descripción</th>
                        <th>👁</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for class in course.courseClasses %}
                        <tr>
                            <td>{{ class.title }}</td>
                            <td>{{ class.description }}</td>
                            <td>
                                <a href="{{ path('class_visualization' , {id: class.id}) }}">Ver Clase</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="2"><div class="alert alert-danger"> No se ha registrado clases todavía</div></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        paypal.Buttons({
            createOrder: function(data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '{{ course.price }}'
                        }
                    }]
                });
            },
            onApprove: (data, actions) => {
                return actions.order.capture().then(function(orderData) {
                    var paypalForm = document.getElementById('paypal-form');
                    var detailsInput = document.getElementById('details-input');
                    var jsonDetails = JSON.stringify(orderData);

                    detailsInput.value = jsonDetails;
                    paypalForm.submit();
                });
            }
        }).render('#paypal-button-container');
    </script>
{% endblock %}