{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - {{user.username}}{% endblock %}

{% block body %}
    {{ parent() }}
    <div class="container my-2 bg-white rounded p-3 border">
        <div class="row">
            <div class="col-md-3">
                {% if user.photo != null %}
                    <img src="{{ asset('uploads/photos/'~ user.photo) }}" width="100%">
                {% else %}
                    <img src="{{ asset('img/6392506.png') }}" alt="frikiland">
                {% endif %}
                {% if app.user == user %}
                    {{ form(form_photo) }}
                {% endif %}
            </div>
            <div class="col-md-8">
                {% if user.description != null %}
                    <div id="description">{{ user.description|raw }}</div>
                    {% if app.user == user %}
                        <button class="btn btn-info" id="changeDescription">Cambiar Descripción</button>
                    {% endif %}
                    {% set style = 'display:none' %}
                {% else %}
                    {% set style = 'display:block' %}
                {% endif %}
                {% if app.user == user %}
                    {{ form_start(form_description, {attr:{style, id:'form_description'}}) }}
                    {{ form_end(form_description) }}
                {% endif %}
            </div>
        </div>
    </div>


    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                   aria-selected="true" style="color: #1b1e21 !important;">
                    Mis Publicaciones
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                   aria-controls="profile"
                   aria-selected="false" style="color: #1b1e21 !important;">Favoritos</a>
            </li>
        </ul>
        <div class="tab-content my-4" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                {% for post in user_posts %}
                    {% if post.file == null %}
                        {% set  first_row = 'col-md-12' %}
                        {% set second_row = 'd-none' %}
                    {% else %}
                        {% set  first_row = 'col-md-9' %}
                        {% set  second_row = 'col-md-3' %}
                    {% endif %}
                    <div class="container my-4 bg-white">
                        <div class="row border custom-shadow">
                            <div class="{{ first_row }} ">
                                <div class=" my-2 px-1 py-2">
                                    <h4>
                                        <a href="{{ path('postDetails', {id:post.id, url:post.url}) }}">{{ post.title }}</a>
                                    </h4>
                                    {% set user = post.user.username |split('@') %}
                                    <p>Por {{ user[0] }} el {{ post.creationdate | date }}</p>
                                    <div class="my-2">
                                        <span class="alert-success py-1 px-5">{{ post.type }}</span>
                                    </div>
                                    <div>
                                        {{ post.description  | u.truncate(500, '...') | raw }}
                                    </div>

                                </div>
                            </div>
                            <div class="{{ second_row }} my-auto">
                                {% if post.file != null %}
                                    <img src="{{ asset('uploads/files/' ~ post.file) }}" alt="Not found"
                                         width="100%">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="alert alert-warning border">No tienes ninguna publicación, <a
                                    href="{{ path('index') }}">Crea la primera</a> Y procura que sea muuuy friki.
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                {% for interaction in saved_posts %}
                    {% set post = interaction.post %}
                    {% if post.file == null %}
                        {% set  first_row = 'col-md-12' %}
                        {% set second_row = 'd-none' %}
                    {% else %}
                        {% set  first_row = 'col-md-9' %}
                        {% set  second_row = 'col-md-3' %}
                    {% endif %}
                    <div class="container my-4 bg-white">
                        <div class="row border custom-shadow">
                            <div class="{{ first_row }} ">
                                <div class=" my-2 px-1 py-2">
                                    <h4>
                                        <a href="{{ path('postDetails', {id:post.id, url:post.url}) }}">{{ post.title }}</a>
                                    </h4>
                                    {% set user = post.user.username |split('@') %}
                                    <p>Por {{ user[0] }} el {{ post.creationdate | date }}</p>
                                    <div class="my-2">
                                        <span class="alert-success py-1 px-5">{{ post.type }}</span>
                                    </div>
                                    <div>
                                        {{ post.description | u.truncate(500, '...') | raw }}
                                    </div>

                                </div>
                            </div>
                            <div class="{{ second_row }} my-auto">
                                {% if post.file != null %}
                                    <img src="{{ asset('uploads/files/' ~ post.file) }}" alt="Not found"
                                         width="100%">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="alert alert-warning border">Aún no guardas nada en favoritos!, puedes hacerlo seleccionando la estrella de los posts. Quedarán aquí guardadas :)</div>
                {% endfor %}

            </div>

        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $('.custom-file-input').on('change', function (event) {
            var inputFile = event.currentTarget;
            $(inputFile).parent()
                .find('.custom-file-label')
                .html(inputFile.files[0].name);
        });

        $('#changeDescription').click(function () {
            $('#form_description').css('display', 'block');
            $('#description').css('display', 'none');
            $('#changeDescription').css('display', 'none');
        })
    </script>
{% endblock %}
